* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 16px;
  color: #F3EFE3;
  background-color: #1a1b15;
}

#logo {
  font-family: source-code-pro, monospace;
  font-size: 1.75rem;
  font-style: italic;
}

nav ul a {
  color: #F3EFE3;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  letter-spacing: 0.2rem;
  text-decoration: none;
  position: relative;
  left: 0px;
  transition: left 0.3s, color 0.2s;
}

nav ul a:hover {
  color: #e7e3d49e;
  font-style: italic;
  left: 2px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  width: 100%;
  z-index: 999;
}

nav {
  display: flex;
  min-width: 80%;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 0.625rem 2rem;
}

.hero h5 {
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.hero h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6rem;
}

.hero h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2rem;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
}

.hero-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.hero .img-container {
  display: flex;
  justify-content: center;
  width: 30%;
}

.hero img {
  width: 1000%;
}

.hero .text-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}