* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 16px;
  color: #fff;
  background-color: #24251D;
}

#logo {
  font-family: source-code-pro, monospace;
  font-size: 1.75rem;
  font-style: italic;
}

nav ul a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  letter-spacing: 0.2rem;
  text-decoration: none;
  position: relative;
  left: 0px;
  transition: left 0.3s, color 0.2s;
}

nav ul a:hover {
  color: rgba(255, 255, 255, 0.577);
  font-style: italic;
  left: 2px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  width: 100%;
  z-index: 999;
}

nav {
  display: flex;
  min-width: 80%;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 0.625rem 2rem;
}